* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ceedf4;
    line-height: 1.6em;
    color: rgb(51, 51, 51);
}
table {
    margin: 1em 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
td {
    padding: 8px 10px;
    border: 1px solid #ccc;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 0.7em;
    color:#ffffff;
    text-align:center;
    background: linear-gradient(rgb(84, 180, 235), rgb(47, 164, 231));
}
.intro {
    margin: 1em 0 0;
    font-size: 1.75rem;
    text-align: center;
}
.main {
    margin:0 auto;
    max-width: 50em;
    
    padding:0.5em 2em;
    background-color: #ffffff;
}
#error {
    margin-top: 1em;
    text-align: center;
    color: #bd2c2c;
}
